<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="3" name="	Chrome Execution">
  <parameter name="gridbrowser" value="Chrome"></parameter> 
  <groups>
  <run>
    <include name="Smoke Test"></include>
    <include name="Regression Test"></include>
  </run>
  </groups>
    <classes>
      <class name="test.NewTest"/>
    </classes>
  </test> 
      </suite> 
